section {
    width: 940px;
    height: 400px;
    border: 1px solid black;
    padding: 0 10px;
}

.bar {
    display: inline-block;
    margin-top: 340px;
    width: 20px;
    height: 60px;
    background-color: rgb(242, 172, 71);
    border: 1px solid black;
    border-bottom: 0px;
}

.number {
    display: none;
    width: 20px;
    margin-top: -25px;
    position: absolute;
}